<!doctype html>
<html>
<head>
    <title>VinylVision</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/player.js"></script>
</head>

<body>
    <h1>
        VinylVision Spotify Album Player
    </h1>

    <div id="search">   
        <label>Album:</label>
        <input type="text" id="search_tags" placeholder="Album Guess" style="width:300px"><br><br>
        <label>Song:</label>
        <input type="text" id="search_tags2" placeholder="Song Guess" style="width:300px"><br><br>
        <input type="button" id="search_button" onclick="searchAlbums(document.getElementById('search_tags').value)" value="Search" />
        <font color='red' id="error_text" style="white-space: pre-line "><br></font>
    </div>
    <br>
    <div id="player">

        <a id="artist_text">Artist:</a>
        <a id="artist" style="width:500px"></a><br><br>

        <a data-uri="" data-url="">Album:</a>
        <a id="album_name" style="width:500px"></a><br><br>

        <a>Released:</a>
        <a id="release_date" style="width:500px"></a><br><br>

        <div id="imageDiv"></div><br>
        <input type="button" onclick="playAlbum()" value="Open Album" /><br><br>

        <a for="tracks">Tracks:</a>
        <select name="tracks" id="tracks"></select><br><br>
        <input type="button" onclick="playTrack()" value="Open Track" /><br><br>
        <input type="button" onclick="nextSearchResult(-1)" value="Previous Result" />
        <input type="button" onclick="nextSearchResult(1)" value="Next Result" /><br><br>
        <a for="tracks">Artists:</a>
        <select name="artist_select" id="artist_select"></select><br><br>
        <input type="button" onclick="searchArtistAlbums()" value="Search Artist" />
    </div>
    <br>
    <div id="logout">
        <a href="/spotify/logout">Back to Home Page</a>
    </div>

    <script>
        //check if there's a guess in the parameters and autofill in the fields
        var albumSearchDiv = document.getElementById('search_tags')
        var songSearchDiv = document.getElementById('search_tags2')
        var hash = getHashParams()
        var guess = hash.guess
        var song = hash.song
        if (guess != undefined) {
            albumSearchDiv.value = guess
            if (song != undefined) {
                songSearchDiv.value = song
            }
            searchAlbums(guess)
        }
        window.addEventListener('hashchange', function () {
            //window.history.pushState({}, null, myOldUrl);
            hash = getHashParams()
            guess = hash.guess
            song = hash.song
            if (guess != undefined) {
                albumSearchDiv.value = guess
                if (song != undefined)
                    songSearchDiv.value = song
                else
                    songSearchDiv.value = null
                searchAlbums(guess)
            }
            else
                albumSearchDiv.value = null
        });

        var searchButton = document.getElementById("search_button")
        //add event listener to search bar so that pressing enter searches it
        searchEnterListener = function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.which === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                searchButton.click();
            }
        }

        // Execute a function when the user releases a key on the keyboard
        albumSearchDiv.addEventListener("keypress", searchEnterListener);
        songSearchDiv.addEventListener("keypress", searchEnterListener);

            //impossible to use without premium
        /*function play(accessToken) {
            let trackIndex = document.getElementById("tracks").value;
            let albumUri = document.getElementById("album_name").getAttribute("data-uri");
            console.log(albumUri)
            $.ajax({
                method: "PUT",
                url: 'https://api.spotify.com/v1/me/player/play',
                data: {
                    context_uri: albumUri,
                    offset: {
                        position: trackIndex
                    },
                    position_ms: 0
                },
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                },
                success: function (response) {
                    console.log(response)
                }
            });
        }*/
    </script>
</body>
</html>