<!doctype html>
<html>
<head>
    <title>VinylVision</title>
    <link rel="stylesheet" href="\public\css\index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        //if googleapi CDN is down this is here just in case
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='./js/jquery-3.6.0.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script type="text/javascript" src="./js/player.js"></script>
</head>

<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<a href="\public\index.html">
    <img src="\public\logo.jpg" alt="logo" class="center"/>
</a>

<div id="search" class="centerText">
    <label>Album:</label>
    <input type="text" id="search_tags" placeholder="Album Guess" style="width:300px"><br><br>
    <label>Song:</label>
    <input type="text" id="search_tags2" placeholder="Song Guess" style="width:311.5px"><br><br>
    <input type="button" class="buttonSmall" id="search_button" onclick="searchAlbums(document.getElementById('search_tags').value)" value="Search" /><br>

    <font color='red' id="error_text" style="white-space: pre-line "><br></font>
</div>
<br>
<div id="player" class="centerText">

    <a id="artist_text">Artist:</a>
    <a id="artist" style="width:500px"></a><br><br>

    <a>Album:</a>
    <a id="album_name" style="width:500px"></a><br><br>

    <a>Released:</a>
    <a id="release_date" style="width:500px"></a><br><br>

    <img id="album_image" style="width:200px; height:200px"><br>

    <div id="spotify-embed-track">
        <iframe id="miniplayer" style="border-radius:12px; width:350px; height:80px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>

    <a>Tracks:</a>
    <select id="tracks" onchange="createTrackEmbed(this.options[this.selectedIndex].value)"></select><br><br>
    <input type="button" class="buttonSmaller" onclick="openTrack()" value="Open Track" />
    <input type="button" class="buttonSmaller" onclick="openAlbum()" value="Open Album" /><br><br>

    <input type="button" class="buttonSmaller" onclick="nextSearchResult(-1)" value="Previous Result" />
    <input type="button" class="buttonSmaller" onclick="nextSearchResult(1)" value="Next Result" /><br><br>
    <a>Artists:</a>
    <select name="artist_select" id="artist_select"></select><br><br>
    <input type="button" class="buttonSmaller" onclick="searchArtistAlbums()" value="Search Artist" />
</div><br>

<div id="spotify-embed-album">
    <iframe id="miniplayer" style="border-radius:12px; width:350px; height:380px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>

<script>
    //check if there's a guess in the parameters and autofill in the fields
    var albumSearchDiv = document.getElementById('search_tags')
    var songSearchDiv = document.getElementById('search_tags2')
    //search album from hash
    searchAlbumFromHash()

    //add event listener to check if there's a change in the hash
    window.addEventListener('hashchange', function () {
        //window.history.pushState({}, null, myOldUrl); //what the hell is this
        searchAlbumFromHash()
    });

    var searchButton = document.getElementById("search_button")
    //add event listener to search bar for the enter key (13)
    searchEnterListener = function (event) {
        if (event.which === 13) {
            //cancel default action and press the button
            event.preventDefault()
            searchButton.click()
        }
    }

    //add event listeners to Album Search bar and Song Search bar
    albumSearchDiv.addEventListener("keypress", searchEnterListener);
    songSearchDiv.addEventListener("keypress", searchEnterListener);

    /* Call searchAlbums() with the album retrieved from hash
     * Sets the album and song from the URL within the search bar
     */
    function searchAlbumFromHash() {
        var hash = getHashParams()
        var album = hash.album
        var song = hash.song
        if (album != undefined) { //if album exists
            albumSearchDiv.value = album
            if (song != undefined) //if song exists, set song value
                songSearchDiv.value = song
            else
                songSearchDiv.value = null
            searchAlbums(album)
        } else { //remove the album if no album exists
            albumSearchDiv.value = null
            removeAlbum()
        }
    }
</script>
</body>
</html>