<!doctype html>
<html>
<head>
    <title>VinylVision</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/player.js"></script>
</head>

<body>
    <h1>
        VinylVision Spotify Album Player
    </h1>

    <div id="search">
        <label>Album:</label>
        <input type="text" id="search_tags" placeholder="Album Guess" style="width:300px"><br><br>
        <label>Song:</label>
        <input type="text" id="search_tags2" placeholder="Song Guess" style="width:311.5px"><br><br>
        <input type="button" id="search_button" onclick="searchAlbums(document.getElementById('search_tags').value)" value="Search" /><br>

        <font color='red' id="error_text" style="white-space: pre-line "><br></font>
    </div>
    <br>
    <div id="player">

        <a id="artist_text">Artist:</a>
        <a id="artist" style="width:500px"></a><br><br>

        <a>Album:</a>
        <a id="album_name" style="width:500px"></a><br><br>

        <a>Released:</a>
        <a id="release_date" style="width:500px"></a><br><br>

        <img id="album_image" style="width:200px; height:200px"><br>

        <div id="spotify-embed-track">
            <iframe id="miniplayer" style="border-radius:12px; width:350px; height:80px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>

        <a>Tracks:</a>
        <select id="tracks" onchange="createTrackEmbed(this.options[this.selectedIndex].value)"></select><br><br>
        <input type="button" onclick="playTrack()" value="Open Track" />
        <input type="button" onclick="playAlbum()" value="Open Album" /><br><br>

        <input type="button" onclick="nextSearchResult(-1)" value="Previous Result" />
        <input type="button" onclick="nextSearchResult(1)" value="Next Result" /><br><br>
        <a for="tracks">Artists:</a>
        <select name="artist_select" id="artist_select"></select><br><br>
        <input type="button" onclick="searchArtistAlbums()" value="Search Artist" />
    </div><br>

    <div id="spotify-embed-album">
        <iframe id="miniplayer" style="border-radius:12px; width:350px; height:380px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
    
    <div id="logout">
        <a href="/spotify/logout">Back to Home Page</a>
    </div>

    <script>
        //check if there's a guess in the parameters and autofill in the fields
        var albumSearchDiv = document.getElementById('search_tags')
        var songSearchDiv = document.getElementById('search_tags2')
        var hash = getHashParams()
        var album = hash.album
        var song = hash.song
        if (album != undefined) {
            albumSearchDiv.value = album
            if (song != undefined) {
                songSearchDiv.value = song
            }
            searchAlbums(album)
        }
        window.addEventListener('hashchange', function () {
            //window.history.pushState({}, null, myOldUrl);
            hash = getHashParams()
            album = hash.album
            song = hash.song
            if (album != undefined) {
                albumSearchDiv.value = album
                if (song != undefined)
                    songSearchDiv.value = song
                else
                    songSearchDiv.value = null
                searchAlbums(album)
            }
            else {
                albumSearchDiv.value = null
                removeAlbum()
            }
        });

        var searchButton = document.getElementById("search_button")
        //add event listener to search bar so that pressing enter searches it
        searchEnterListener = function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.which === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                searchButton.click();
            }
        }

        // Execute a function when the user releases a key on the keyboard
        albumSearchDiv.addEventListener("keypress", searchEnterListener);
        songSearchDiv.addEventListener("keypress", searchEnterListener);
    </script>
</body>
</html>